<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      <%= livre[0].Titre %>
    </title>
    <%- include ('../views/partials/header.ejs') %>
      <link rel="stylesheet" href="/CSS/style.css">
      <style>
        h1 { 
          text-align: center;
        }
        h1.pagetitre { 
          color: rgb(76,157,235)
        }
        div {
          color: rgb(76,157,235)
        }
        td#desc {
          white-space: normal;
          width: 700px;
        }
        img.photolivre {
          width: 250px;
          height: 100%;
        }
        table.clivre {
          width: 300px;
          height: 100%;
          text-align: left;
          border-spacing: 15px;
          margin-bottom: 20px;
        }
      </style>
  </head>

  <body>
    <br><br><br><br><br>
    <h1 class="pagetitre">Page de livre</h1>
    <br><br><br><br><br>
    <div align="center">
      <table>
        <th>Livre</th>
        <th>Contenu</th>
        <th>Détails</th>
        <tr>
          <td><img class="photolivre" width="100%" src="<%= livre[0].Photo %>"></td>
          <td>
            <table class="clivre">
              <tr>
                <td> Titre: </td>
              </tr>
              <tr>
                <td> Auteur: </td>
              </tr>
              <tr>
                <td> Annee: </td>
              </tr>
              <tr>
                <td> Description: </td>
              </tr>
            </table>
          </td>
          <td>
            <table class="clivre">
              <tr>
                <td>
                  <%= livre[0].Titre %><br>
                </td>
              </tr>
              <tr>
                <td>
                  <%= livre[0].Auteur %>
                </td>
              </tr>
              <tr>
                <td>
                  <%= livre[0].DateParution %>
                </td>
              </tr>
              <tr>
                <td id="desc">
                  <%= livre[0].Description %>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td><Button>Reserver le livre</Button></td>
        </tr>
      </table>
    </div>
  </body>
</html>