<!DOCTYPE html>
<html>
    <head>
        <%- include ('../views/partials/header.ejs') %>  
        <link rel="stylesheet" href="/CSS/style.css">  
    </head>

    <body>
       <!--  <a href=”/livres/PCAL001”>

            <image src= "<%=livresTab[4].Photo %>" >
            
            </a>
         -->
        <form class="recherche" >
            <table class="tab">
                <td style="width:600px"><input type="text" placeholder="Search..." name="search2"> 
                    <button type="submit" style="width:auto">Search</button></td>
            </table>
          </form>

          <div>
                <table class="TabDesLivres">
                            <% for(var i=0; i<livresTab.length; i++) {%>
                                 <% if (i % 5 == 0){%>
                                    <td> <% } %> 
                                        <div id = "Unlivre">
                                            <table class="Unlivre" >                                                 
                                                <tr>
                                                    <a href='/livres/<%=livresTab[i].ISBN %>'>

                                                        <image src= "<%=livresTab[i].Photo %>" >
                                                    </a>    
                                                        

                                                </tr>
                                                <td><a href='/livres/<%=livresTab[i].ISBN %>'>Titre: <%= livresTab[i].Titre %></a></td>
                                            </table>
                                        </div>
                                      <% if (i % 5 == 4){%>
                                     </td> <% } %> 
                                    
                         <% } %>
                </table>
                

                  <!-- for(var i=0; i<livresTab.length; i++) {
                     for(var j=0; j<5; j++) {
                        //list
                     }

                    } -->
              
          </div>

          <script>

              function sendISBN(){
                  console.log("bb")
              }
                

           



          </script>


    </body>
    <footer class="f">
        <p>Author: Mebarkia Mohamed / Mohamed Wafi / Zhi Bo / Omar Khoudair</p>
        <img src="/Images/logo.png" class="logo">
    </footer>
</html>
